<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="prepare(video)">PREPARE</button>
  <button (click)="play()">PLAY</button>
  <video #video class="video-js vjs-default-skin">
  </video>
</div>

